@import "macchiato.css";

* {
  font-family: "JetBrains Mono", "Iosevka Nerd Font",Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: rgba(20, 20, 20, 0.8);
  box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio:hover {
  background: rgba(20, 20, 20, 0.8);
}

#language {
  color: @text;
}

#workspaces {
  margin: 0 2px;
  border: 4px solid #202020;
  border-radius: 4px;
}

#workspaces button {
  padding: 0 5px;
  background-color: #202020;
  color: @rosewater;
}

#workspaces button:hover {
  background: rgb(20, 20, 20);
}

#workspaces button.focused {
  background-color: @rosewater;
  color: @base;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-exit,
#custom-appmenu {
  background-color: #202020;
  margin: 0 2px;
  border-radius: 4px;
  padding: 0 10px;
}

#pulseaudio {
  color: @maroon;
}

#network {
  color: @yellow;
}

#temperature {
  color: @sky;
}

#battery {
  color: @green;
}

#clock {
  color: @flamingo;
}

#cpu {
  color: @peach;
}

#memory {
  color: @green;
}

#custom-exit {
  color: @rosewater;
}

#custom-exit:hover,
#custom-appmenu:hover {
  background: rgba(20, 20, 20, 0.8);
}

#custom-appmenu {
  color: #1793d1;
}

#window {
  color: @text;
}

.modules-right,
.modules-left,
.modules-center {
  /*background-color: #202020;*/
  border-radius: 4px;
}

.modules-center {
  padding: 3px 15px;
}
#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}
